.searchField {
  /* border: none; */
  /* background-color: lightblue; */
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  width: 100%;
}

.searchField:focus {
  outline: none;
}

.search_icon {
  position: absolute;
  right: 25px;
  top: 20px;
}

.inputField {
  border-radius: 20px;
  margin: 10px;
  padding: 3px;
}

.inputField:focus {
  outline: none;
}

.btn {
  color: white;
  background-color: rgb(131, 131, 231);
  border-radius: 20px;
  width: 100%;
  margin: 10px;
}

.fruitList{
    margin: 20px;
    margin-left: 150px;
}